.submit-comment-container {
  text-align: left;
  margin-top: 30px;
  margin-left: 50px;
}

.comment-textarea {
  width: 500px;
  height: 100px;
  border-color: #8f8f8f;
  border-radius: 5px;
  transition: 0.2s;
  resize: none;
  background-color: #eeeeee;
}

.comment-textarea:focus {
  outline: none !important;
  border: 1px solid #8f8f8f;
  background-color: #ffffff;
}

.comment-textarea:hover {
  background-color: #ffffff;
}

#submit-comment {
  border-color: #8f8f8f;
  color: #8f8f8f;
}

#submit-comment:hover {
  color: white;
}

.comment-error-message {
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  font-size: 0.85rem;
  color: #cc3333;
}

.comments-container {
  text-align: left;
  margin-top: 30px;
  margin-left: 60px;
  white-space: pre-wrap;
}

.username {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #777daf;
}

.date {
  font-size: 15px;
  color: #8f8f8f;
  margin-top: -15px;
}

.content {
  display: block;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.comment {
  position: relative;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  width: 90%;
  overflow-wrap: break-word;
  transition: 0.3s;
}

/* .comment:hover > .content {
  background-color: #e9e9e9;
} */

.comment-buttons {
  margin-left: -5px;
  font-size: 15px;
  font-weight: bold;
  color: grey;
  border: none;
  background: none;
}

.comment-buttons:hover {
  color: rgb(65, 65, 65);
  cursor: pointer;
}

@media (max-width: 550px) {
  .comment-textarea {
    width: 75%;
  }

  .comment {
    margin-left: -15px;
  }
}

.reply-textarea {
  margin-top: 20px;
}

.reply-box {
  padding-left: 20px;
}

.user-link {
  text-decoration: none;
  color: #777daf;
}

.user-link:hover {
  text-decoration: none;
  color: #9ba2df;
}

.username:hover {
  text-decoration: none;
  color: #9ba2df;
}

.edit-box {
  margin-left: -15px;
}

.edit-date {
  margin-left: 8px;
  font-size: 13px;
  color: #8f8f8f;
  margin-top: -15px;
  background-color: #ffff6588;
}
