.stats-content {
  margin: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.stat-navigation {
  margin-top: 20px;
}

.form-black {
  display: block;
  width: 75px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e9ecef;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-black-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.7109375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.stat-table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-amount {
  display: flex;
  align-items: center;
}

.filter-button {
  background-color: #212529;
  border: solid 1px;
  padding: 4px 4px;
  border-radius: 5px;
  transition: 0.3s;
}

.filter-button:focus {
  background-color: #3c4044;
}
