.nba {
  background-image: url("./stock/NBA_bckgnd_img.jpg");
  background-position: bottom;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-top: -15px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nba::after,
.mls::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  backdrop-filter: blur(1.5px); /* apply the blur */
  pointer-events: none; /* make the overlay click-through */
}

.mls {
  background-image: url("./stock/MLS_bckgnd_img.jpg");
  background-position: top;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-top: -20px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nba-title-container {
  color: white;
  height: 48px;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mls-title-container {
  color: white;
  height: 48px;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.body-container h1 {
  transition: 0.3s;
  display: inline-block;
  font-weight: none;
}

.body-card {
  margin-top: 50px;
  transition: 0.3s;
  filter: grayscale(100%);
  transform: scale(1);
  cursor: pointer;
}

.body-card:hover {
  transition: 0.3s;
  filter: grayscale(0%);
  transform: scale(0.98);
}

.body-card:hover h1 {
  transition: 0.3s;
  color: white;
}
