.calendar-button {
  background-color: white;
  color: rgb(0, 134, 11);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .calendar-button,
  .calendar-button-selected {
    height: 32px;
    width: 32px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .calendar-button,
  .calendar-button-selected {
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
}

.calendar-button:hover {
  background-color: #dfdfdf;
}

.calendar-button-selected {
  background-color: rgb(0, 134, 11);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
}

.round {
  border-radius: 100%;
}

.controls-week-navigation {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: white;
  transition: 0.2s;
}

.controls-week-navigation:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.calendar-header {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  transition: 0.2s;
  border-radius: 5px;
}

.calendar-header:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.games {
  margin-top: 15px;
}
