.profile {
  margin-top: 155px;
  padding-bottom: 20px;
}

.profile h2 {
  text-align: left;
  margin-left: 10%;
}

.user-comment {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  width: 75%;
  overflow-wrap: break-word;
  transition: 0.3s;
}

.edit-dropdown {
  height: 200px;
  overflow-y: scroll;
}

.edit-profile-container {
  width: 80%;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  max-width: 400px;
}

.edit-text {
  margin-right: 5px;
}

.user-comment {
  background-color: white;
  white-space: pre-line;
}
/* 
.btn-primary {
  color: white !important;
  background-color: #04a9f5 !important;
  border-color: #049fe7 !important;
}

.btn-primary:hover {
  filter: drop-shadow(0px 0px 4px #d8d8d8);
}

.nav-link {
  color: #3787ff !important;
} */

.edit-profile-dropdown {
  display: inline;
}
