.edit-profile {
  margin-top: 148px;
}

.edit-profile-container {
  margin-top: 30px;
}

.edit-text {
  margin-right: 10px;
}

/* NOT MY CODE */
.drop-value {
  width: 210px;
  cursor: default;
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: -16px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  cursor: pointer;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* END OF NOT MY CODE */
