.comment-selected {
  background-color: #ffffcc;
}

.context-title {
  margin-bottom: 0;
  margin-top: 155px;
  text-align: left;
  margin-left: 60px;
}

.context-container-comment {
  margin-top: 20px;
}
